.card {
    margin: 0 auto;
    position: relative;
    width: auto;
}

.card-container{
    display:flex;
    justify-content: center;
    margin-top: 200px;
}

.card-content{
    display: flex;
    flex-direction: column;
}