.card {
    display: flex;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 200px;
}

.card-content{
    display: flex;
    flex-direction: column;
    margin: auto;

}